<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Piranha Bytes Italia</title>

    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700" rel="stylesheet" />
    <link href="resources/fonts/aqua-webfont.css" rel="stylesheet" />
    <link href="resources/bootstrap.min.css" rel="stylesheet" />
  </head>

  <body>
    <!-- Fixed navbar -->
    <div class="navbar-container navbar-fixed-top">
      <nav class="navbar navbar-top">
        <div class="container">
          <ul class="nav navbar-nav">
            <li><a href="#">Homepage</a></li>
            <li><a href="#">Staff</a></li>
            <li><a href="#">Forum</a></li>
            <li><a href="#"><img src="resources/icon-facebook-white.png" alt="Facebook icon" /></a></li>
            <li><a href="#"><img src="resources/icon-youtube-white.png" alt="Facebook icon" /></a></li>
            <li><a href="#"><img src="resources/icon-googleplus-white.png" alt="Facebook icon" /></a></li>
            <li><a href="#"><img src="resources/icon-rss-white.png" alt="Facebook icon" /></a></li>
          </ul>
        </div>
      </nav>
      <nav class="navbar navbar-default">
        <div class="container">
          <div id="logo" class="navbar-header">
            <a class="navbar-brand" href="#" title="Piranha Bytes Italia homepage">
              <img src="resources/piranha-bytes-italia-icon.png" width="679" height="759" alt="Piranha Bytes Italia logo" />
            </a>
          </div>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Espandi menù di navigazione</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gothic <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Notizie</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Gothic 1</li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Gothic 2</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Gothic 3</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Elex <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Notizie</a></li>
                    <li><a href="#">Download</a></li>
                    <li><a href="#">Preview</a></li>
                    <li><a href="#">Recensioni</a></li>
                </ul>
              </li>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Risen <span class="caret"></span></a>
                  <ul class="dropdown-menu dropdown-menu-right">
                      <li><a href="#">Notizie</a></li>
                      <li role="separator" class="divider"></li>
                      <li class="dropdown-header">Risen 1</li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li role="separator" class="divider"></li>
                      <li class="dropdown-header">Risen 2</li>
                      <li><a href="#">Separated link</a></li>
                      <li><a href="#">One more separated link</a></li>
                      <li role="separator" class="divider"></li>
                      <li class="dropdown-header">Risen 3</li>
                      <li><a href="#">Separated link</a></li>
                      <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
            </ul>
          </div><!--/.navbar-collapse -->
        </div>
      </nav>
    </div><!--/.navbar-container -->

    <div class="wrapper gothic1">

      <div class="section-header noselect" aria-hidden="true">
        <img src="resources/headers/main-0.5.png" srcset="resources/headers/main-0.5.png 300w, resources/headers/main-1.0.png 600w" />
      </div>

      <div id="page-content" class="container">

        <h1>Piranha Bytes Italia</h1>
  
        <p>Officia cupidatat occaecat Lorem ut laborum ex ullamco reprehenderit non incididunt fugiat dolore nulla. Esse eiusmod eiusmod laborum ad fugiat nostrud nostrud culpa labore. Minim qui ipsum do non non non sit voluptate. Dolore aute mollit officia nisi sit adipisicing. Sint ullamco occaecat cupidatat culpa velit laborum commodo officia laboris officia sit. Irure ea sit duis ea eiusmod ullamco voluptate voluptate.</p>
        <p>Esse Lorem dolore non amet cillum reprehenderit sint velit tempor occaecat veniam cupidatat aute reprehenderit. Proident mollit anim quis ea nostrud magna dolor nisi. Occaecat culpa cupidatat ullamco elit do est veniam ipsum. Occaecat voluptate ad labore adipisicing ex nostrud.</p>
  
        <h2>News</h2>

        <h3>Prova 1</h3>
  
        <p>Voluptate irure velit minim laboris cillum irure mollit duis dolore. Elit elit exercitation est exercitation dolor velit consectetur eu ut officia aliquip voluptate mollit adipisicing. Ad irure ea pariatur duis culpa elit aliquip sunt. Consequat dolore ipsum sint fugiat. Aute do velit deserunt eiusmod Lorem aliquip pariatur commodo. Commodo ex sint ea incididunt culpa dolor eiusmod cupidatat voluptate non ullamco nisi. Labore irure sint dolore est duis proident excepteur labore exercitation exercitation anim irure.</p>
        <p>Consequat dolor proident dolor laborum Lorem irure qui non dolore ea nulla sit commodo. Ullamco et nisi dolor elit. Proident labore anim deserunt aute ipsum exercitation commodo non exercitation nulla occaecat non quis.</p>

        <h3>Prova 2</h3>

        <p>Excepteur cillum cupidatat proident velit. Nisi pariatur exercitation commodo adipisicing aliqua labore velit elit. Ea minim ex do deserunt minim amet aliqua nulla excepteur cupidatat do officia. Aliqua non proident in dolore aliqua ullamco pariatur enim. Sit eiusmod cillum laboris deserunt veniam mollit dolor aute ex. Id laborum tempor ex consequat irure voluptate nulla sint Lorem velit. Ut dolore velit aute cillum amet quis dolore ex dolor culpa mollit sint irure.</p>

        <h3>Prova 3</h3>
        
        <p>Voluptate irure velit minim laboris cillum irure mollit duis dolore. Elit elit exercitation est exercitation dolor velit consectetur eu ut officia aliquip voluptate mollit adipisicing. Ad irure ea pariatur duis culpa elit aliquip sunt. Consequat dolore ipsum sint fugiat. Aute do velit deserunt eiusmod Lorem aliquip pariatur commodo. Commodo ex sint ea incididunt culpa dolor eiusmod cupidatat voluptate non ullamco nisi. Labore irure sint dolore est duis proident excepteur labore exercitation exercitation anim irure.</p>
        <p>Consequat dolor proident dolor laborum Lorem irure qui non dolore ea nulla sit commodo. Ullamco et nisi dolor elit. Proident labore anim deserunt aute ipsum exercitation commodo non exercitation nulla occaecat non quis.</p>

        <h3>Prova 4</h3>

        <p>Excepteur cillum cupidatat proident velit. Nisi pariatur exercitation commodo adipisicing aliqua labore velit elit. Ea minim ex do deserunt minim amet aliqua nulla excepteur cupidatat do officia. Aliqua non proident in dolore aliqua ullamco pariatur enim. Sit eiusmod cillum laboris deserunt veniam mollit dolor aute ex. Id laborum tempor ex consequat irure voluptate nulla sint Lorem velit. Ut dolore velit aute cillum amet quis dolore ex dolor culpa mollit sint irure.</p>

        <h2>Sezione 2</h2>

        <p>Excepteur cillum cupidatat proident velit. Nisi pariatur exercitation commodo adipisicing aliqua labore velit elit. Ea minim ex do deserunt minim amet aliqua nulla excepteur cupidatat do officia. Aliqua non proident in dolore aliqua ullamco pariatur enim. Sit eiusmod cillum laboris deserunt veniam mollit dolor aute ex. Id laborum tempor ex consequat irure voluptate nulla sint Lorem velit. Ut dolore velit aute cillum amet quis dolore ex dolor culpa mollit sint irure.</p>

      </div>

      <div class="bottom-background"></div>

      <div class="brand-overlay noselect" aria-hidden="true">
        <img src="resources/brand-0.5.png" width="630" height="1389" alt="Piranha Bytes Italia background" srcset="resources/brand-0.5.png 315w, resources/brand-1.0.png 630w" />
      </div>

    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-6 access-links">
            <ul>
              <li><a href="#">Homepage</a></li>
              <li><a href="#">Gothic Saga</a></li>
              <li><a href="#">Elex</a></li>
              <li><a href="#">Risen Saga</a></li>
              <li><a href="#">Staff e contatti</a></li>
              <li><a href="#">Forum</a></li>
              <li class="icon-list">
                  <a href="#"><img src="resources/icon-facebook-black.png" alt="Facebook icon" /></a>
                  <a href="#"><img src="resources/icon-youtube-black.png" alt="Facebook icon" /></a>
                  <a href="#"><img src="resources/icon-googleplus-black.png" alt="Facebook icon" /></a>
                  <a href="#"><img src="resources/icon-rss-black.png" alt="Facebook icon" /></a>
              </li>
            </ul>
          </div>

          <div class="col-sm-6 copyright">
              <p>&copy;&nbsp;Piranha Bytes Italia.</p>

              <p>Tutti i contenuti relativi a Gothic®, Risen® ed Elex® sono marchi registrati e di proprietà di Pluto 13 GmbH &copy;&nbsp;1997&ndash;2017.</p>

              <p>Il contenuto di questo fansite è di proprietà dei curatori del sito, e qualsiasi utilizzo del materiale, anche parziale, deve essere prima autorizzato dallo staff. Tutti i diritti riservati. Per ulteriori informazioni contattate l'amministratore del sito.
              Tutti gli altri marchi e/o marchi registrati sono di proprietà dei legittimi detentori.</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="resources/bootstrap.min.js"></script>
  </body>
</html>
<!-- Thank you and come again -->
