<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Piranha Bytes Italia</title>

    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700" rel="stylesheet" />
    <link href="resources/fonts/aqua-webfont.css" rel="stylesheet" />
    <link href="resources/bootstrap.min.css" rel="stylesheet" />
  </head>

  <body>
    <!-- Fixed navbar -->
    <div class="navbar-container navbar-fixed-top">
      <nav class="navbar navbar-top">
        <div class="container">
          <ul class="nav navbar-nav">
            <li>Homepage</li>
            <li>Staff</li>
            <li>Forum</li>
            <li>Facebook</li>
            <li>Youtube</li>
          </ul>
        </div>
      </nav>
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#" title="Piranha Bytes Italia homepage">
              <img src="resources/icon_pbi.png" width="679" height="759" alt="Piranha Bytes Italia logo" />
            </a>
          </div>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Espandi menù di navigazione</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gothic <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Notizie</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Gothic 1</li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Gothic 2</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Gothic 3</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Elex <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Notizie</a></li>
                    <li><a href="#">Download</a></li>
                    <li><a href="#">Preview</a></li>
                    <li><a href="#">Recensioni</a></li>
                </ul>
              </li>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Risen <span class="caret"></span></a>
                  <ul class="dropdown-menu dropdown-menu-right">
                      <li><a href="#">Notizie</a></li>
                      <li role="separator" class="divider"></li>
                      <li class="dropdown-header">Risen 1</li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li role="separator" class="divider"></li>
                      <li class="dropdown-header">Risen 2</li>
                      <li><a href="#">Separated link</a></li>
                      <li><a href="#">One more separated link</a></li>
                      <li role="separator" class="divider"></li>
                      <li class="dropdown-header">Risen 3</li>
                      <li><a href="#">Separated link</a></li>
                      <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
            </ul>
          </div><!--/.navbar-collapse -->
        </div>
      </nav>
    </div><!--/.navbar-container -->

    <div class="container">

      <h1>Piranha Bytes Italia</h1>

      <p>Officia cupidatat occaecat Lorem ut laborum ex ullamco reprehenderit non incididunt fugiat dolore nulla. Esse eiusmod eiusmod laborum ad fugiat nostrud nostrud culpa labore. Minim qui ipsum do non non non sit voluptate. Dolore aute mollit officia nisi sit adipisicing. Sint ullamco occaecat cupidatat culpa velit laborum commodo officia laboris officia sit. Irure ea sit duis ea eiusmod ullamco voluptate voluptate.</p>
      <p>Esse Lorem dolore non amet cillum reprehenderit sint velit tempor occaecat veniam cupidatat aute reprehenderit. Proident mollit anim quis ea nostrud magna dolor nisi. Occaecat culpa cupidatat ullamco elit do est veniam ipsum. Occaecat voluptate ad labore adipisicing ex nostrud.</p>

      <h2>News something</h2>

      <p>Voluptate irure velit minim laboris cillum irure mollit duis dolore. Elit elit exercitation est exercitation dolor velit consectetur eu ut officia aliquip voluptate mollit adipisicing. Ad irure ea pariatur duis culpa elit aliquip sunt. Consequat dolore ipsum sint fugiat. Aute do velit deserunt eiusmod Lorem aliquip pariatur commodo. Commodo ex sint ea incididunt culpa dolor eiusmod cupidatat voluptate non ullamco nisi. Labore irure sint dolore est duis proident excepteur labore exercitation exercitation anim irure.</p>
      <p>Consequat dolor proident dolor laborum Lorem irure qui non dolore ea nulla sit commodo. Ullamco et nisi dolor elit. Proident labore anim deserunt aute ipsum exercitation commodo non exercitation nulla occaecat non quis.</p>

    </div>

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="resources/bootstrap.min.js"></script>
  </body>
</html>
<!-- Thank you and come again -->
